---
title: Redis for VMware Tanzu Application Service release notes
owner: London Services
---

<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>.

<%= partial vars.path_to_partials + '/upgrade-planner' %>

## <a id="3-5-0"></a> v3.5.0

**Release date: xxxxx xx, 2024**

### Features

New features and changes in this release:



### Security fixes

This release includes the following security fixes:



### Known issues

There are no known issues for this release.

### Compatibility

The following components are compatible with this release:

<table class=“table”>
<thead>
<tr>
    <th>Component</th>
    <th>Version</th>
</tr></thead>
<tr>
    <td>Stemcell</td>
    <td>1.340</td>
</tr>
<tr>
    <td><%= vars.app_runtime_full %></td>
    <td>2.11, 2.12, 2.13, 3.0, 4.0, 5.0</td>
</tr>
<tr>
    <td>shared-redis-release</td>
    <td>437.0.45</td>
</tr>
<tr>
    <td>on-demand-service-broker</td>
    <td>0.43.3</td>
</tr>
<tr>
    <td>routing</td>
    <td>0.287.0</td>
</tr>
<tr>
    <td>service-metrics</td>
    <td>2.0.34</td>
</tr>
<tr>
    <td>service-backup</td>
    <td>18.5.0</td>
</tr>
<tr>
    <td>loggregator-agent</td>
    <td>7.7.3</td>
</tr>
<tr>
    <td>bpm</td>
    <td>1.2.13</td>
</tr>
<tr>
    <td>cf-cli</td>
    <td>1.59.0-lite</td>
</tr>
<tr>
    <td>Redis OSS</td>
    <td>7.2.4</td>
</tr>
</table>

## <a id="view"></a> View release notes for another version

To view the release notes for another product version, select the version from
the drop-down menu at the top of this page.
